@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 2fr 0.5fr 6fr 0.5fr / 1fr 3fr 1fr;
    gap: 5px;
}

header {
    background-color: lightblue;
    text-align: center;
    grid-area: 1 / 1 / 2 / 4;
}

nav {
    background-color: lavender;
    text-align: center;
    grid-area: 2 / 1 / 3 / 4;
}

main {
    background-color: lightcyan;
    text-align: center;
    grid-area: 3 / 1 / 4 / 3;
}

aside {
    background-color: lightgreen;
    text-align: center;
    grid-area: 3 / 3 / 4 / 4;
}

footer {
    background-color: lightpink;
    text-align: center;
    grid-area: 4 / 1 / -1 / -1;
}