@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#DEEFE7, #B4BEC9);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 4px #00233388;
}
h1{
    color: #002333;
    text-align: center;
    text-shadow:1px 1px 0px #0017229f;
}
h2{
    color: #159A9C;
}