@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px 40px 1fr 200px 40px / 1fr 150px;
    gap: 5px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#topo {
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    grid-area: 2 / 1 / 3 / -1;
}

#principal {
    grid-area: 3 / 1 / -2 / 2;
}

#secundario {
    grid-area: 3 / 2 / -2 / -1;
}

#rodape {
    grid-area: -2 / 1 / -1 / -1;
}