@charset "UTF-8";

div.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

div.caixa1 {
    background-color: aquamarine;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

div.caixa2 {
    background-color: skyblue;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

div.caixa3 {
    background-color: lightseagreen;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}